.rk-image-container {
  background: #0f0;
  display: -moz-inline-stack;
  display: inline-block;
  /* ie fix */
  *display: inline;
  zoom: 1; }
  .rk-image-container .rk-img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f00;
    border: none !important;
    outline: none !important; }
  .rk-image-container .rk-img.edit {
    cursor: pointer; }
  .rk-image-container .rk-tag-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #f1f1f1;
    border: 5px #c1c1c1 solid;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
